h3 {text-align: center;}
body {background-color: darkblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: left; text-indent: 40px;}
li {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
